[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/onqtam/doctest
[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen

[submodule "ext/zlib"]
	path = ext/zlib
	url = https://github.com/madler/zlib
[submodule "ext/mstoolkit"]
	path = ext/mstoolkit
	url = git@github.com:mhoopmann/mstoolkit.git
